<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="altService.sys.member.service.impl.MemberMapper">

	<sql id="search">
		<if test="searchType != null and (searchType != '') and (keyword != null) and (keyword !='')">
			<if test="searchType == 'id'.toString()">
				AND (emplyr_id LIKE CONCAT('%',#{keyword},'%'))
			</if>
			<if test="searchType == 'user_nm'.toString()">
				AND (user_nm LIKE CONCAT('%',#{keyword},'%'))
			</if>
		</if>
		<if test="(stts != null and stts != '')">
			AND (emplyr_sttus_code = #{stts})
		</if>
	</sql>
	
	<select id="login" parameterType="member" resultType="memberManage">
		SELECT *
		FROM altservice.comtnemplyrinfo
		WHERE emplyr_id = #{altNo}
		AND password = #{pwd}
	</select>

	<insert id="insertMemberManage" parameterType="memberManage">
<!-- 		INSERT INTO -->
<!-- 		altservice.comtnemplyrinfo -->
<!-- 		(emplyr_id, user_nm, password,password_hint, -->
<!-- 		 password_cnsr, area_no, sexdstn_code, email_adres, -->
<!-- 		house_middle_telno, house_end_telno, house_adres, zip, emplyr_sttus_code, sbscrb_de) -->
<!-- 		VALUES -->
<!-- 		(#{emplyr_id}, #{user_nm}, #{password}, #{password_hint}, -->
<!-- 		#{password_cnsr}, #{area_no}, #{sexdstn_code}, #{email_adres} -->
<!-- 		#{house_middle_telno}, #{house_end_telno}, #{house_adres}, #{zip}, 'r', now()) -->
		INSERT INTO altservice.comtnemplyrinfo
		(EMPLYR_ID, USER_NM, PASSWORD, SEXDSTN_CODE, HOUSE_ADRES,
		 PASSWORD_HINT, PASSWORD_CNSR, HOUSE_END_TELNO, AREA_NO, DETAIL_ADRES, ZIP, 
		 EMAIL_ADRES,  HOUSE_MIDDLE_TELNO,  MOBLPHON_NO, EMPLYR_STTUS_CODE, SBSCRB_DE, DELETE_AT,
		 EMPL_NO)
		VALUES 
		(#{emplyr_id}, #{user_nm}, #{password}, #{sexdstn_code}, #{house_adres}, 
		 #{password_hint}, #{password_cnsr}, #{house_end_telno}, #{area_no}, #{detail_adres}, #{zip},
		 #{email_adres}, #{house_middle_telno}, #{moblphon_no}, 'r', now(), 'n',
		 (SELECT COALESCE(COUNT(*) + 1,1) as empl_no FROM altservice.comtnemplyrinfo c)
		)
	</insert>

	<select id="selectMemberManageList" parameterType="cri"	resultType="memberManage">
		SELECT @RNUM:=@RNUM-1 AS list_no, c.EMPLYR_ID, c.ORGNZT_ID, c.USER_NM, c.EMAIL_ADRES, c.AREA_NO, c.HOUSE_MIDDLE_TELNO, c.HOUSE_END_TELNO, IF(c.EMPLYR_STTUS_CODE = 'a', '승인', IF(c.EMPLYR_STTUS_CODE = 'r', '신청','')) AS emplyr_sttus_code, c.SBSCRB_DE, c.MOBLPHON_NO
		FROM (SELECT @RNUM:=(SELECT COUNT(*) - #{offset} + 1 FROM altservice.comtnemplyrinfo WHERE DELETE_AT = 'n'	<include refid="search" />)) r, altservice.comtnemplyrinfo c
		WHERE DELETE_AT = 'n'
		<include refid="search" />
		ORDER BY c.sbscrb_de DESC, c.empl_no DESC
		LIMIT #{perPageNum} OFFSET #{offset}
	</select>

	<select id="selectMemberManageListCnt" parameterType="cri" resultType="int">
		SELECT COUNT(*) as cnt
		FROM altservice.comtnemplyrinfo
		WHERE DELETE_AT = 'n'
		<include refid="search" />
	</select>

	<select id="selectMemberManageDetail"
		parameterType="memberManage" resultType="memberManage">
		SELECT *
		FROM	altservice.comtnemplyrinfo
		WHERE emplyr_id = #{emplyr_id}
	</select>
	
	<delete id="deleteMemberManage" parameterType="str">
		UPDATE altservice.comtnemplyrinfo
		SET DELETE_AT = 'Y'
		WHERE emplyr_id = #{emplyr_id}
	</delete>
	
	<select id="selectCheckDupleId" parameterType="str" resultType="int">
		SELECT COUNT(*) AS cnt
		FROM altservice.comtnemplyrinfo
		WHERE emplyr_id = #{emplyr_id}
	</select>
	
	<update id="updateMemberManage" parameterType="memberManage">
		UPDATE altservice.comtnemplyrinfo
		SET
		user_nm = #{user_nm},
		sexdstn_code = #{sexdstn_code},
		area_no = #{area_no},
		house_middle_telno = #{house_middle_telno},
		house_end_telno = #{house_end_telno},
		email_adres = #{email_adres},
		detail_adres = #{detail_adres},
		emplyr_sttus_code = #{emplyr_sttus_code}
		WHERE emplyr_id = #{emplyr_id}
	</update>
</mapper>