<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="altService.sys.member.service.impl.MemberMapper">

	<sql id="search">
		<if test="searchType != null and (searchType != '') and (keyword != null) and (keyword !='')">
			<if test="searchType == 'id'.toString()">
				AND (emplyr_id LIKE CONCAT('%',#{keyword},'%'))
			</if>
			<if test="searchType == 'user_nm'.toString()">
				AND (user_nm LIKE CONCAT('%',#{keyword},'%'))
			</if>
		</if>
	</sql>
	
	<select id="login" parameterType="member" resultType="member">
		SELECT *
		FROM altservice.member
		WHERE altNo = #{altNo}
		AND pwd = #{pwd}
	</select>

	<insert id="insertMemberManage" parameterType="memberManage">
		INSERT INTO
		altservice.comtnemplyrinfo
		(emplyr_id, user_nm, password,
		password_hint, password_cnsr, area_no, sexdstn_code
		house_middle_telno, house_end_telno, house_adres, zip, emplyr_sttus_code, sbscrb_de)
		VALUES
		(#{emplyr_id}, #{user_nm}, #{password}, #{password_hint},
		#{password_cnsr}, #{area_no}, #{sexdstn_code},
		#{house_middle_telno}, #{house_end_telno}, #{house_adres}, #{zip}, #{emplyr_sttus_code}, now())
	</insert>

	<select id="selectMemberManageList" parameterType="cri"	resultType="memberManage">
		SELECT @RNUM:=@RNUM-1 AS list_no, c.EMPLYR_ID, c.ORGNZT_ID, c.USER_NM, c.EMAIL_ADRES, c.AREA_NO, c.HOUSE_MIDDLE_TELNO, c.HOUSE_END_TELNO, IF(c.EMPLYR_STTUS_CODE = 1, '승인', IF(c.EMPLYR_STTUS_CODE = 2, '미승인','')) AS emplyr_sttus_code, c.SBSCRB_DE
		FROM (SELECT @RNUM:=(SELECT COUNT(*) - #{offset} + 1 FROM altservice.comtnemplyrinfo)) r, altservice.comtnemplyrinfo c
		WHERE 1=1
		<include refid="search" />
		LIMIT #{perPageNum} OFFSET #{offset}
	</select>

	<select id="selectMemberManageListCnt" resultType="int">
		SELECT
		COUNT(*)
		FROM altservice.comtnemplyrinfo
		WHERE 1=1
		<include refid="search" />
	</select>

	<select id="selectMemberManageDetail"
		parameterType="memberManage" resultType="memberManage">
		SELECT *
		FROM
		altservice.comtnemplyrinfo
		WHERE emplyr_id = #{emplyr_id}
	</select>
</mapper>